.dealers {
  padding: 80px 0px 80px 0px;
  &__list {
    list-style: none;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    // min-width: 0;
  }
  &__thumb {
    width: 85px;
    height: 85px;
    margin-bottom: 30px;
  }
  &__img {
  }
  &__text-wrap {
    margin-bottom: 30px;
    width: 100%;
    padding: 40px 63px 25px 63px;
    text-align: center;
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: top 25px left 60px;
    background-image: url(../images/dealers/quote-right.svg);
  }
  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(31 / 12);
    letter-spacing: 0.04em;
    text-align: center;
    background-image: repeating-linear-gradient(
      transparent 0px,
      transparent 30px,
      #e1e1e1 30px,
      #e1e1e1 31px
    );
    @media screen and(min-width: 768px) {
      font-size: 15px;
      line-height: calc(31 / 15);
    }
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(26 / 14);
    color: #000000;
    @media screen and(min-width: 768px) {
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }
  &__title::before {
    content: "";
    display: block;
    margin: 0 auto 18px auto;
    width: 32px;
    height: 4px;
    background-image: url(../images/dealers/circles.png);
  }
}
// slider
.slick-slider {
}
// ogranichivaushaja-obolochka
.slick-list {
  overflow: hidden;
}
// lenta-slaidov
.slick-track {
  display: flex;
  align-items: flex-start;
}

// slaid
.slick-slide {
}
// slaid-activnuy
.slick-slide.slick-active {
}
// slaid-osnovnoj
.slick-slide.slick-current {
}
// slaid-po-centru
.slick-slide.slick-center {
}

// arrow
.slick-arrow {
}
.slick-arrow.slick-prev {
}
.slick-arrow.slick-next {
}
.slick-arrow.slick-disabled {
}

// dots
.slick-dots {
}
.slick-dots.slick-active {
}

// spisok-origin(slider)
.dealers__list {
  position: relative;
  & .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: none;
  }
  & .slick-arrow.slick-prev {
    left: 0;
    background: url(../images/dealers/angle-double-left.svg) no-repeat 0 0;
  }
  & .slick-arrow.slick-next {
    right: 0;
    background-color: transparent;
    background-image: url(../images/dealers/angle-double-right.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  & .slick-arrow.slick-disabled {
    opacity: 0.2;
  }

  & .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .slick-dots li {
    list-style: none;
    margin: 0 10px;
  }
  & .slick-dots button {
    padding: 0;
    font-size: 0;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background: #d9d9d9;
  }
  & .slick-dots li.slick-active button {
    background: url(../images/dealers/home.svg) no-repeat 0 0;
    border-radius: 0;
    width: 12px;
    color: currentColor;
  }
}
